.idea
*.iml
.classpath
.project
.settings
.metadata
target
*~
*.orig
*.BACKUP
*.BACKUP.*
*.BASE
*.BASE.*
*.LOCAL
*.LOCAL.*
*.REMOTE
*.REMOTE.*
*.iws
*.ipr
*.scss.cache
bin
.checkstyle
.tmp
.surefire-*
